main {
  border-top: 2px solid #aaa;
  bottom: 0;
  height: 50px;
  left: 0;
  padding: 0 10px 0 10px;
  position: fixed;
  right: 0;
  width: 100%;
}
label {
  font-family: monospace;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
  width: 5%;
}
input {
  background: #eee;
  border: 0;
  font-family: monospace;
  line-height: 20px;
  width: 95%;
}
input:focus {
  outline: none;
}
input#query {
  border-bottom: 1px solid #aaa;
}
