body {
  margin: 0;
}

main {
  bottom: 20;
  box-sizing: border-box;
  height: 50px;
  font-family: monospace;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  width: 100%;
}

input:focus {
  outline: none;
}

label[for=query] {
  display: block;
  float: left;
  font: inherit;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
  width: 5%;
}

input#query {
  background: #eee;
  border: 0;
  box-sizing: border-box;
  display: block;
  float: left;
  font: inherit;
  line-height: 20px;
  margin-bottom: 38px;
  padding: 0 10px;
  width: 85%;
}

div#info {
  display: block;
  float: left;
  font: inherit;
  line-height: 20px;
  width: 10%;
}

div#info.warning {
  color: red;
}

input#browse {
  clear: both;
  display: block;
}
