iframe#typist-cmdline {
  background: #eee;
  border: 0;
  border-top: 1px solid #444;
  box-shadow: 0 0 3px 0 #444;
  height: 70px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 5000;
}

iframe#typist-cmdline.showing {
  bottom: 0;
}

iframe#typist-cmdline.hidden {
  bottom: -70px;
}
